*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2px;
    color: black;
}
.navbar-brand:hover{
    color: black;
    font-family: sans-serif;
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-family: sans-serif
    
}

.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: "Faculty Glyphic", sans-serif
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

.main{
    background: url(./aqua.jpg/);
        background-size: cover;
        height: 100px;
        background-position: 50% 50%;
        width: 100%;

}

.bnt1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
}